<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Межкомнатные двери в москве</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'main/style.css'%}">

    <meta name="description" content="Купить межкомнатные двери в Москве. Большой выбор, отличные цены, доставка и установка.">
    <script type="module" crossorigin src="{% static 'catalog/assets/index-BhBjo7Na.js'%}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'catalog/assets/index-pa39JXL4.css'%}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
